.row
  .col-lg-12
    .question-field
      %strong
        =@learn_session.words[0].name
      %br
      =t('learnSession_question')
      =t('learnSession_question_text')

.row
  .col-lg-6.choice-1
    = @choices[0][0]
  .col-lg-6.choice-2
    = @choices[0][1]
.row
  .col-lg-6.choice-3
    = @choices[0][2]
  .col-lg-6.choice-4
    = @choices[0][3]
  %br

