%br
.row
  .col-sx-12.col-sm-12.col-md-12
    // this is needed for the learn_session/_choice partial
    .question-field
      %p#notice

      %strong
        = params[:asked_word][1] + ': '
      =t('learnSession_question_text')
= render 'learn_sessions/choices'
