%h1 Overview Flash Cards
.table-responsive
  %table.table
    %thead
      %tr
        %th Name
        %th Description
        %th SynCat
        %th SemCat
    %tbody
      -for w in @word
        %tr
          %td
            = w.word_name
          %td
            = w.description
          %td
            = w.syntactical_category
          %td
            = w.semantical_categories
