.row
  .col-md-12
    %h2 #{@word.word_name}
.row
  .col-md-3
    %h4 Description
  .col-md-9
    #{@word.description}
.row
  .col-md-3
    %h4 Syntacitical Category
  .col-md-9
    #{@word.syntactical_category}
.row
  .col-md-3
    %h4 Semantical Categories
  .col-md-9
    #{@word.semantical_categories}



