%h1 Overview Categories
.table-responsive
  %table.table
    %thead
      %tr
        %th Name
        %th Description
        %th Type
    %tbody
      -for c in @category
        %tr
          %td
            = c.name_de
          %td
            = c.description_de
          %td
            = c.type_de
          %td
            =link_to 'Edit', edit_category_path(c)