%h1 MedLang the crowdsourcing platform for MedBrains
%p
  Lorem ipsum dolor sit amet, usu platonem praesent definitiones ei. Et diam eligendi quo, has vidit consulatu efficiendi no. Est iudicabit pertinacia suscipiantur ei. Eam falli salutatus definitiones at, minimum detraxit est ea.


%p
  Eine englischsprachige Dokumentation der Casematch Programmierschnittstelle finden Sie hier: .
  Benötigen Sie Hilfe bei der Integration ihrer Anwendungen oder brauchen Sie einen Zugang zur API, wenden Sie sich an #{mail_to 'info@eonum.ch'}.
%h1 Informazioni di contatto
%h3 Impressum:
%p
  eonum SA
  %br
  Tscharnerstrasse 41
  %br
  CH-3007 Bern
  %br
  %a{href: "http://eonum.ch"} www.eonum.ch
%div
  E-Mail: #{mail_to 'info@eonum.ch'}
%p
